{% extends 'base.html' %}

{% block content %}
<h1 class = "fw-bold mx-5">CREATE</h1>
<hr>

<form method = "POST">
    {% csrf_token %}
    {% for field in form  %}
        <div class = "mb-3">
            {{ field.errors }}
            {{ field.label_tag}}
            {{ field }}
        </div>    
    {% endfor %}
    <button class="btn btn-outline-primary">Submit</button>
    <br>
    
        
</form>
<a href="{% url 'movies:index' %}">
    <button class="btn btn-info">Back</button>
</a>

{% endblock content %}


